.Title {
  font-weight: 600;
  font-size: 24px;
  font-family: "PlayFairNormal" !important;
}

.Main {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin: 30px 50px 15px 50px;
}
.Home {
  color: #00464d;
  font-size: 14px;
  font-family: var(--font-gilroy);
  font-weight: 500;
}
.SearchOrder {
  margin: 15px 0 20px 50px;
}
.SearchOrder input::placeholder {
  padding-left: 40px !important;
}
.SearchBar {
  width: 45%;
  /* background-image: url(`/Assets/searchIcon.png`);
  background-repeat: no-repeat; */
  background-position: 20px;
  background-size: 15px;
  border: none;
  height: 40px;
  border: 1px solid #e8e9ea;
  border-radius: 4px;

  font-family: var(--font-gilroy);
}
.SearchButton {
  background: linear-gradient(180deg, #978958 0%, #aea174 82.81%);
  border-radius: 2px;
  border: none;
  color: #ffffff;
  font-family: var(--font-gilroy);
  padding: 10px 11px 10px 11px;
  font-weight: 500;
  font-size: 13px;
  margin-left: 10px;
}

.NewArrival {
  color: #01b3c5;
  font-size: 14px;
  font-family: var(--font-gilroy);
  font-weight: 500;
}
.SubText {
  display: flex;

  font-size: 14px;
  font-family: var(--font-gilroy);
}

@media (min-width: 300px) and (max-width: 575px) {
  .SubText {
    display: none;
  }
  .Main {
    margin: 0px;
    padding: 0px;
  }
  .Title {
    margin-bottom: 0px;
    padding: 15px;
  }
  .abcd {
    padding: 0px !important;
  }
}
