.Navbar {
  display: none;
  /* font-family: "Playfair Display"; */
}
@media (min-width: 300px) and (max-width: 768px) {
  .Navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    background-color: #fff;
    text-align: center;
  }
  .NavElements {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }
  .LeftIcons {
    display: flex;
  }
  .LeftIcons > Hamburger {
    margin-top: 10px;
  }
  .rightIcons {
    display: flex;
    gap: 2rem;
  }
  .LoginContainer {
    /* padding: 1rem 1rem 1.5rem 1rem; */
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .title > h3 {
    color: #0d1217;

    text-align: center;
    font-family: "Playfair Display";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .title > p {
    /* color: #0d1217;
    text-align: center;
    font-family: Lato;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400; */
    line-height: 1.4375rem;
    opacity: 0.7;
  }
  .SocialButtons {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
  }
  .soButton {
    gap: 5px;
    display: flex;
  }
  .Wrapper {
    /* padding:3rem */
    padding: 2rem 0rem;
  }
  .soButton > div {
    gap: 2rem;
  }
  .socialimg {
    gap: 10px;
  }
  .socialtext {
    gap: 10px;
  }

  .LoginContainer .line {
    display: grid;
    grid-template-columns: 1fr 0.2fr 1fr;
    align-items: center;
    margin: 12px 0px;
    width: 100%;
  }
  .TabButton {
    background-color: #f0f0f2;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    height: 2.75rem;
    width: 21.5625rem;
    padding: 0px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .tabHeader {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    /* padding:10px 0.88rem; */

    place-items: center;
  }
  .tab-item {
  }
  .active {
    border-radius: 0.25rem;
    padding: 10px 19px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .tabContent {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Form {
    display: flex;
    flex-direction: row;
  }
  .LoginButton {
    background-color: #00464d;
    width: 21.5625rem;
    height: 3rem;
    color: #fff;
    margin-bottom: 2rem;
  }
  .Signup {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  .signupAnchor {
    color: #006e7f;
    /* font-family: Lato; */
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25rem;
    border: none;
    background-color: transparent;
  }
  .signupText {
    color: var(--B4, #585f67);

    text-align: center;
    font-family: Lato;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
  }
  .accept {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00464d;
    width: 22.35494rem;
    height: 2.45456rem;
    color: #fff;
    margin-bottom: 2rem;
  }
  .modal {
  }

  .SlideButton {
    -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  .SlideTop {
    -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  .labelStyle {
    color: #585f67;
    font-family: Lato;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25rem;
  }
  .allInputTextStyle {
    fill: #fff;
    height: 2.25rem;
    width: 21.59375rem;
    stroke-width: 1px;
    stroke: gray;
    color: #c1cbcd;
    font-family: Lato;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    box-shadow: 0px 1px 5px 0px rgba(25, 36, 45, 0.04) inset;
  }

  /* ----------------------------------------------
 * Generated by Animista on 2024-1-25 11:29:30
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

  /**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
  @-webkit-keyframes SlideTop {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-100px);
      transform: translateY(-100px);
    }
  }
  @keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-100px);
      transform: translateY(-100px);
    }
  }

  /* ----------------------------------------------
 * Generated by Animista on 2024-1-24 18:25:17
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

  /**
 * ----------------------------------------
 * animation slide-bottom
 * ----------------------------------------
 */
  @-webkit-keyframes SlideButton {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(100px);
      transform: translateY(100px);
    }
  }
  @keyframes SlideButton {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(100px);
      transform: translateY(100px);
    }
  }

  /* Signup styles start here */
  .SignupWrapper {
    margin-bottom: 2rem;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .signupContainer {
  }
  .signuptitletext {
    color: #0d1217;
    text-align: center;
    font-family: "Playfair Display";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .signupsecondtitle {
    color: #0d1217;
    text-align: center;
    font-family: Lato;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4375rem;
  }
  .headerTitle {
    text-align: center;
  }
  .formInputFields {
    place-items: center;
    text-align: start !important;

    /* width: 21.59375rem; */
  }
  .line2 {
    /* display:flex */
    display: grid;
    grid-template-columns: 1fr 0.2fr 1fr;
    align-items: center;
    margin: 12px 0px;
    width: 100%;
  }
  .mobileLogo {
    max-width: 59px;
  }
}
