header {
  height: 100px;
  padding: 10px 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Navbar {
  display: none;
}
.line {
  display: grid;
  grid-template-columns: 1fr 0.8fr 1fr;
  align-items: center;
  margin: 1rem 0rem;
  width: 100%;
}
.signuptitletext {
  color: #0d1217;
  /* text-align: center; */
  font-family: "Playfair Display";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-bottom: 15px;
}
.Signup {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px 0px 0px 0px
 
}
.LoginButton {
  background-color: #00464d;
  width: 100%;
  height: 2.45456rem;
  color: #fff;
  margin-bottom: 0rem;
}
.acceptT {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00464d;
  width: 100%;
  height: 2.45456rem;
  color: #fff;

}
.title {

}

@media (min-width: 300px) and (max-width: 575px) {
  .loginWrapper {
    padding:15px 5px;
  }
  .loginToffle {
    padding:10px 10px;
  }
  .Navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    background-color: #fff;
    /* text-align: center; */
  }
  .NavElements {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }
  .LeftIcons {
    display: flex;
  }
  .LeftIcons > Hamburger {
    margin-top: 10px;
  }
  .rightIcons {
    display: flex;
    gap: 2rem;
  }
  .LoginContainer {
    /* padding: 1rem 1rem 1.5rem 1rem; */
    margin-bottom: 1rem;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
  }
  .title {
    display: flex;
    /* grid-template-rows: 1fr 1fr; */
    /* justify-items: center; */
    align-items: center;
    flex-direction: column;
    padding:15px 0px;
    /* padding-top: 5px; */
  }
  .titleh {
    color: #0d1217;
    text-align: center;
    font-family: "PlayFairNormal";
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .titlep {
    color: #0d1217;
    text-align: center;
    font-family: "gilroyNormal";
    font-style: normal;
    font-weight: 400;
    /* line-height: 1.625rem; */
    opacity: 0.7;
    font-size: 14px;
  }
  .SocialButtons {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: space-around;
    text-align: center;
  }
  .soButton {
    gap: 5px;
    display: flex;
  }
  .Wrapper {
    padding: 0rem 0rem;
  }
  .soButton > div {
    gap: 2rem;
  }
  .socialimg {
    gap: 10px;
  }
  .socialtext {
    gap: 10px;
  }

  .LoginContainer .line {
    display: grid;
    grid-template-columns: 1fr 0.2fr 1fr;
    align-items: center;
    margin: 12px 0px;
    width: 100%;
  }
  .orText {
    font-size: 15px;
    text-align: center;
  }
  .TabButton {
    background-color: #f0f0f2;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-top: 0.5rem;
    padding: 2px 2px;
  }
  .tabHeader {
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* grid-template-columns: 1fr 1fr; */
    /* width: 100%; */

    place-items: center;
  }
  /* .tabItems {
    display: flex;
    align-items: center;
    justify-content: center;
  } */
  .active {
    border-radius: 0.25rem;

    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .LoginButton {
    background-color: #00464d !important;
    width: 100%;
    height: 2.45456rem;
    color: #fff;

  }
  .Signup {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .signupAnchor {
    color: #006e7f;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25rem;
    border: none;
    font-family: "gilroyNormal";
    background-color: transparent;
    padding:0px 2px;
  }
  .bottomText {
    color: #585f67;
    text-align: center;
    font-family: "gilroyNormal";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
  }
  /* .bottomText :nth-of-type(2) {
    color: #0d1217;
    text-align: center;
    font-family: Gilroy;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625rem;
  } */
  .acceptT {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00464d;
    width: 100%;
    height: 2.45456rem;
    color: #fff;
 
  }
  .accept {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00464d;
    width: 100%;
    height: 2.45456rem;
    color: #fff;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
  }


  /* Signup styles start here */

  .SignupWrapper {
    /* margin-bottom: 0.5rem; */
    padding: 20px 0px;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
  }
  .signupContainer {
  }
  .signuptitletext {
    color: #0d1217;
    /* text-align: center; */
    font-family: "Playfair Display";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  /* .signupsecondtitle {
    color: #0d1217;
    text-align: center;
    font-family: Lato;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4375rem;
  } */
  .headerTitle {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 15px;

  }
  .flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
  }
  .formInputFields {
    place-items: center;
  }
  .line2 {
    /* display:flex */
    display: grid;
    grid-template-columns: 1fr 0.2fr 1fr;
    align-items: center;
    margin: 12px 0px;
    width: 100%;
  }
  .buttonSocial {
    border: 1px solid #ccc;
    font-size: 0.875rem;
    background-color: transparent;
    padding: 5px  6px;
    color: #2c3035;
    /* text-align: center; */
    font-family: "Poppins";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 6px;
    text-align: center;
    /* width: 100%; */
  }
  .buttonSocial > img {
  
    max-width: 14px;
    margin: 0px 6px 2px 2px;
  }
  .tabTitleOne {
    /* padding: 9px 20px; */
    padding: 10px 31px;
    font-size: 14px;
    color: #111212;
    text-align: center;
    font-family: "gilroyNormal";
    /* font-size: 1rem; */
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
  }
  .tabTitleTwo {
    padding: 10px 61px;
    text-align: center;
    font-size: 14px;
    color: #111212;
    text-align: center;
    font-family: "gilroyNormal";
    /* font-size: 1rem; */
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
  }
  .loginFormInput {
    width: 100%;
    color: #c1cbcd;
  }
  .labelStyle {
    color: black;
    font-family: "gilroyNormal";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25rem;
  }
  .allInputTextStyle {
    width: 100%;
    border: 1px solid lightgray;
    font-family: "Poppins";
    font-size: 14px;

    font-weight: 400;
    outline: none;
    border-radius: 5px;
    padding: 8px 10px;
  }
  .allInputTextStyle ::placeholder {
    opacity: 0.5;
    font-size: 1rem;
  }
  .inputformContainer {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
  }
  .signupTitleText {
  }
  .signupTitleText > p {
    text-align: center;
    font-size: 14px;
  }
  .otpContainer {
    padding: 5px 15px;
    margin: 10px 10px;
  }
  .formgap{
    display: flex;
    flex-direction: column;
    gap:10px
  }
}


@media (min-width: 575px) and (max-width: 767px) {
  .loginWrapper {
    padding:15px 5px;
  }
  .Navbar {
    display: block;
    background-color: #fff;
  }
  .NavElements {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }
  .rightIcons {
    display: flex;
    gap: 2rem;
  }
  .SlideButton {
    background-color: #fff;
  }

  .LoginButton {
    background-color: #00464d;
    width: 100%;
    height: 3rem;
    color: #fff;
   
  }

  .title {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .titleh {
    color: #0d1217;
    text-align: center;
    font-family: "PlayFairNormal";
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 2rem;
  }
  .titlep {
    color: #0d1217;
    text-align: center;
    font-family: "gilroyNormal";
    font-style: normal;
    font-weight: 400;
    line-height: 1.625rem;
    opacity: 0.7;
  }
  .flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1.5rem 0rem;
  }
  .SocialButtons {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    /* margin-bottom: 1.5rem; */
  }
  .buttonSocial {
    border: 1px solid #ccc;
    font-size: 0.875rem;
    background-color: transparent;
    padding: 9px 15px;
    color: #2c3035;
    /* text-align: center; */
    font-family: "Poppins";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 6px;
  }
  .buttonSocial > img {
    margin-right: 25px;
    max-width: 21px;
  }
  .TabButton {
    background-color: #f0f0f2;
    border-radius: 0.5rem;
    margin: 2rem 0rem;
    margin-top: 0.5rem;
  }
  .tabHeader {
    display: flex;

    width: 100%;

    place-items: center;
    margin-top: 2rem;
  }
  .active {
    border-radius: 0.25rem;
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .LoginContainer .line {
    display: grid;
    grid-template-columns: 1fr 0.2fr 1fr;
    align-items: center;
    margin: 1rem 0rem;
    width: 100%;
  }
  .orText {
    font-size: 15px;
    text-align: center;
    /* line-height: 10px; */
  }
  .line2 {
    /* display:flex */
    display: grid;
    grid-template-columns: 1fr 0.2fr 1fr;
    align-items: center;
    margin: 1rem 0px;
    width: 100%;
  }
  /* .loginFormInput {
    width: 100%;
    color: #c1cbcd;
  } */

  .labelStyle {
    color: black;
    font-family: "gilroyNormal";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25rem;
  }
  .allInputTextStyle {
    width: 100%;
    border: 1px solid lightgray;
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 400;
    outline: none;
    border-radius: 5px;
    padding: 8px 12px;
    line-height: 1.5rem;
  }
  .tabContent {
    /* padding: 0px 15px; */
    margin: 1rem 0rem;
  }
  .tabTitleOne {
    /* padding: 9px 20px; */
    padding: 15px 59px;
    font-size: 15px;
    color: #111212;
    text-align: center;
    font-family: "gilroyNormal";
    /* font-size: 1rem; */
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
  }
  .tabTitleTwo {
    padding: 15px 50px;
    text-align: center;
    font-size: 15px;
    color: #111212;
    text-align: center;
    font-family: "gilroyNormal";
    /* font-size: 1rem; */
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
  }
  .LoginButton {
    background-color: #00464d;
    width: 100%;
    height: 3rem;
    color: #fff;
    margin: 0.5rem 0rem;
    font-size: 16px;
  }
  .Signup {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:1rem 0rem;
   
  }
  .signupAnchor {
    color: #006e7f;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25rem;
    border: none;
    padding: 0px;
    margin: 0px;
    font-family: "gilroyNormal";
    background-color: transparent;
    padding:0px 4px;
  }
  .bottomText {
    color: #585f67;
    text-align: center;
    font-family: "gilroyNormal";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
  
  }
  .otpContainer {
    padding: 5px 15px;
    margin: 1rem 1rem;
  }
  .titleh {
    color: #0d1217;
    text-align: center;
    font-family: "PlayFairNormal";
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .titlep {
    color: #0d1217;
    text-align: center;
    font-family: "gilroyNormal";
    font-style: normal;
    font-weight: 400;
    line-height: 1.625rem;
    opacity: 0.7;
    font-size: 16;
  }

  .accept {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00464d;
    width: 100%;
    height: 3rem;
    color: #fff;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 16px;
  }
  .acceptT {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00464d;
    width: 100%;
    height: 2.45456rem;
    color: #fff;
  
  }
  .signuptitletext {
    color: #0d1217;
    /* text-align: center; */
    font-family: "Playfair Display";
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .signupsecondtitle {
    color: #0d1217;
    text-align: center;
    font-family: "gilroyNormal";
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
    opacity: 0.7;
  }
  .headerTitle {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
  }
  .flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .formInputFields {
    place-items: center;
  }
  .line2 {
    /* display:flex */
    display: grid;
    grid-template-columns: 1fr 0.2fr 1fr;
    align-items: center;
    margin: 12px 0px;
    width: 100%;
  }
  .SignupWrapper {
    padding: 4px;
  }
  .SocialButtons {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-around;
    text-align: center;
  }
  .signupInputFields{
    margin-bottom: 1rem;
  } .formgap{
    display: flex;
    flex-direction: column;
    gap:15px
  }
 

  
}



@media (min-width: 767px) and (max-width: 4200px) {
  .NavContainer {
    display: none;
  }
  .loginWrapper {
    padding:0px 0px;
  }
  .Navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    background-color: #fff;
    /* text-align: center; */
  }
  .NavElements {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }
  .LeftIcons {
    display: flex;
  }
  .LeftIcons > Hamburger {
    margin-top: 10px;
  }
  .rightIcons {
    display: flex;
    gap: 2rem;
  }
  .LoginContainer {
    /* padding: 1rem 1rem 1.5rem 1rem; */
    margin-bottom: 1rem;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
  }
  .title {
    display: flex;
    /* grid-template-rows: 1fr 1fr; */
    /* justify-items: center; */
    align-items: center;
    flex-direction: column;
    padding-bottom:5px;
    /* padding-top: 5px; */
  }
  .titleh {
    color: #0d1217;
    text-align: center;
    font-family: "PlayFairNormal";
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .titlep {
    color: #0d1217;
    text-align: center;
    font-family: "gilroyNormal";
    font-style: normal;
    font-weight: 400;
    /* line-height: 1.625rem; */
    opacity: 0.7;
    font-size: 14px;
  }
  .SocialButtons {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: space-around;
    text-align: center;
  }
  .soButton {
    gap: 5px;
    display: flex;
  }
  .Wrapper {
    padding: 0rem 0rem;
  }
  .soButton > div {
    gap: 2rem;
  }
  .socialimg {
    gap: 10px;
  }
  .socialtext {
    gap: 10px;
  }

  .LoginContainer .line {
    display: grid;
    grid-template-columns: 1fr 0.2fr 1fr;
    align-items: center;
    margin: 12px 0px;
    width: 100%;
  }
  .orText {
    font-size: 15px;
    text-align: center;
  }
  .TabButton {
    background-color: #f0f0f2;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    padding: 2px 2px;
  }
  .tabHeader {
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* grid-template-columns: 1fr 1fr; */
    /* width: 100%; */

    place-items: center;
  }
  /* .tabItems {
    display: flex;
    align-items: center;
    justify-content: center;
  } */
  .active {
    border-radius: 0.25rem;

    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .LoginButton {
    background-color: #00464d;
    width: 100%;
    height: 2.45456rem;
    color: #fff;
   
  }
  .SignupTextWrapper {
    display: flex;
    flex-direction: column;
  }
  .Signup {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .signupAnchor {
    color: #006e7f;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25rem;
    border: none;
    font-family: "gilroyNormal";
    background-color: transparent;
    padding:0px 2px;
  }
  .bottomText {
    color: #585f67;
    text-align: center;
    font-family: "gilroyNormal";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
  }
  /* .bottomText :nth-of-type(2) {
    color: #0d1217;
    text-align: center;
    font-family: Gilroy;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625rem;
  } */
  .accept {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00464d;
    width: 100%;
    height: 2.45456rem;
    color: #fff;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .acceptT {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00464d;
    width: 100%;
    height: 2.45456rem;
    color: #fff;
 
  }


  /* Signup styles start here */

  .SignupWrapper {
    /* margin-bottom: 0.5rem; */
    padding: 0px 0px;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
  }
  .signupContainer {
  }
  .signuptitletext {
    color: #0d1217;
    /* text-align: center; */
    font-family: "Playfair Display";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  /* .signupsecondtitle {
    color: #0d1217;
    text-align: center;
    font-family: Lato;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4375rem;
  } */
  .headerTitle {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;

  }
  .flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:0px 0px
  }
  .formInputFields {
    place-items: center;
  }
  .line2 {
    /* display:flex */
    display: grid;
    grid-template-columns: 1fr 0.2fr 1fr;
    align-items: center;
    margin: 12px 0px;
    width: 100%;
  }
  .buttonSocial {
    border: 1px solid #ccc;
    font-size: 0.875rem;
    background-color: transparent;
    padding: 5px 6px;
    color: #2c3035;
    /* text-align: center; */
    font-family: "Poppins";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 6px;
    /* width: 100%; */
  }
  .buttonSocial > img {
  
    max-width: 13px;
    margin: 0px 4px 3px 0px
  }
  .modalContainer:focus-visible {
    border:none;
    outline: none;
  }
  .tabTitleOne {
    /* padding: 9px 20px; */
    padding: 10px 30px;
    font-size: 14px;
    color: #111212;
    text-align: center;
    font-family: "gilroyNormal";
    /* font-size: 1rem; */
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
  }
  .tabTitleTwo {
    padding: 10px 68px;
    text-align: center;
    font-size: 14px;
    color: #111212;
    text-align: center;
    font-family: "gilroyNormal";
    /* font-size: 1rem; */
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
  }
  .loginFormInput {
    width: 100%;
    color: #c1cbcd;
  }
  .labelStyle {
    color: black;
    font-family: "gilroyNormal";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25rem;
  }
  .allInputTextStyle {
    width: 100%;
    border: 1px solid lightgray;
    font-family: "Poppins";
    font-size: 14px;

    font-weight: 400;
    outline: none;
    border-radius: 5px;
    padding: 8px 10px;
  }
  .allInputTextStyle ::placeholder {
    opacity: 0.5;
    font-size: 1rem;
  }
  .inputformContainer {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
  }
  .signupTitleText {
  }
  .signupTitleText > p {
    text-align: center;
    font-size: 14px;
  }
  .otpContainer {
    margin: 6px 0px;
  }
  .formgap{
    display: flex;
    flex-direction: column;
    gap:10px
  }

}
