.NewArrivalsMainText {
  font-weight: 500;
  font-size: 32px;
  color: #0d1217;
  font-family: "PlayFairNormal" !important;
}
.setItems {
  /* display: flex;
    justify-content: space-between; */
}
.NewArrivals {
  margin-top: 20px;
}

.NewArrivalsSubText {
  font-weight: 400;
  font-size: 16px;

  color: #757c81;
  margin-top: 15px;
  margin-bottom: 10px !important;
  font-family: "gilroyNormal" !important;
}
.seeAll {
  font-size: 16px;
  font-weight: 600;
  font-family: "gilroyNormal" !important;
  color: #007481;
  cursor: pointer;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .NewArrivalsMainText {
    font-size: 28px;
  }

  .NewArrivalsSubText {
    font-size: 14px;
  }
}
@media screen and (max-width: 500px) {
  .NewArrivalsMainText {
    font-size: 25px;
  }
}
@media (min-width: 300px) and (max-width: 575px) {
  .NewArrivalsSubText {
    text-align: center;
    font-size: 16px;
    margin: 15px 0px;
  }
  .NewArrivalsMainText {
    text-align: center;
  }
  .seeAll {
    margin: 10px 0px;
    text-align: center;
    font-size: 16px;
  }
}
