.Heart {
  position: absolute;
  top: 3%;
  left: 90%;
  cursor: pointer;
}
.MobProductDetails {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 15px;
  margin-top: 15px;
}
.my_scroll_div {
  overflow-y: auto;
  max-height: 700px;
}

.my_scroll_div::-webkit-scrollbar {
  display: none;
}
.ParentHeadingD1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ImgHeartShare {
  max-width: 22px;
  cursor: pointer;
}
.my_scroll_div {
  overflow-y: auto;
  max-height: 700px;
}
.BackgroundBgs {
  display: none;
}
.my_scroll_div::-webkit-scrollbar {
  display: none;
}
.TryHome {
  color: #00464d;
  background: transparent;
  border: 1px solid #00464d;
  padding: 10px 15px;
  border-radius: 4px;
  font-family: "Lato", sans-serif;
}
.FindStores {
  background: #a79a6c;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  font-family: "Lato", sans-serif;
}
.VideoCall {
  background: #21cacc;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
}
.FindStoreParent {
  display: flex;
  gap: 10px;
  margin: 15px 0px;
  margin-bottom: 20px;
}
.StickyDisplay {
  position: sticky;
  top: 90px; /* Adjust this value according to your layout */
  z-index: 100; /* Add z-index to ensure proper layering */
}

.ImageSmall {
  width: 100%;
  border: 0.7px solid #e6e6e6;
  border-radius: 4px;
  margin: 0 10px 20px 0;
  cursor: pointer;
}

.LargeImage {
  width: 100%;
  padding: 60px;

  position: relative;
}

.NewArrivals {
  font-size: 26px;
  font-family: "Lato", sans-serif;
  margin-bottom: 5px !important;
  line-height: 34px;
  font-weight: 700;
}

.SubText {
  color: #5e666c;
  font-weight: 400;
  font-size: 16px;
  font-family: "gilroyNormal" !important;
}
.Description {
  margin-top: 0 !important;
}

.Code {
  font-weight: 400;
  font-size: 15px;
  color: #757c81;
  font-family: "gilroyNormal" !important;
  margin-bottom: 8px !important;
}

.HurrayText {
  color: #30933a;
  font-size: 13px;
  font-weight: 600;
  font-family: "gilroyNormal" !important;
}

.AvailableColours {
  font-weight: 600;
  font-size: 16px;
  color: #000000;
  color: #303a42;
  font-family: "gilroyNormal" !important;
  margin-top: 12px;
  margin-bottom: 7px !important;
}
.ParentMobileProductDetails {
  display: none;
}
.AvailableColours3 {
  font-weight: 600;
  font-size: 16px;
  color: #000000;
  font-family: "gilroyNormal" !important;
}
.ParentCertificate {
  display: flex;
  align-items: center;
  gap: 30px;
  padding-bottom: 15px;
}
.ParentCertificate img {
  margin-bottom: 7px;
}
.ParentOtherStoneMob {
  display: none;
}
.CertificateHead {
  color: #303a42;
  color: #000;
  font-family: "gilroyNormal" !important;
}
.CertificateDesc {
  color: #7a8288;
  font-family: "gilroyNormal" !important;
  font-size: 15px;
}
.Flex {
  display: flex;
  margin-left: -5px;
  margin-bottom: 12px;
}

.C1 {
  background: #ffd7d7;
  border-radius: 4px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  border-radius: 50px;
}

.C2 {
  border-radius: 4px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background: #fed672;
  justify-content: center;
  border-radius: 50px;
}

.C3 {
  border-radius: 4px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background: #eee9e9;
  justify-content: center;
  border-radius: 50px;
}

.C4 {
  border-radius: 4px;
  width: 50px;
  height: 50px;
  background: #dedede0d;
  cursor: pointer;
  border: 1px solid #006e7f;
  justify-content: center;
  border-radius: 50px;
}

.Options {
  margin: 0 5px 0 5px;
}

.Options p {
  font-weight: 400;
  font-size: 10px;
  color: #605d5d;
  text-align: center;
}

.AddtoCart {
  font-weight: 600;
  font-size: 16px;
  color: #19242d;
  border: 1px solid #19242d;
  border-radius: 4px;
  background: #ffffff;
  width: 45%;
  padding: 8px 0 8px 0;
}

.BuyNow {
  background: #00464d;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  width: 60%;
  padding: 10px 10px;
  /* margin-left: 8px; */
  border: none;
  outline: none;
  font-family: "lato";
}

.NewPrice {
  font-weight: 700;
  font-size: 22px;
  color: #0d1217;
  margin-top: -5px;
  font-family: "gilroyNormal" !important;
}

.OldPrice {
  font-weight: 400;
  font-size: 21px;
  text-decoration-line: line-through;
  margin-top: -4px;
  font-family: "gilroyNormal" !important;

  color: #b0b0b0;
}

.Purity1 {
  background: #006e7f;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #ffffff;
  font-family: "gilroyNormal" !important;
  cursor: pointer;
}
.ImageWishList {
  position: relative;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
}
.SubTexts {
  color: #5e666c;
  font-weight: 400;
  font-size: 16px;
  font-family: "gilroyNormal" !important;
  margin-left: 10px;
  margin-top: 40px;
  display: flex;
  margin-bottom: 20px;
}
.Purity2 {
  background: #ffffff;
  border-radius: 50px;
  width: 50px;
  border: 1px solid #b8b8b8;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #b8b8b8;
  font-family: "gilroyNormal" !important;
  cursor: pointer;
}

.Grams {
  font-weight: 400;
  font-size: 11px;
  line-height: 0.1;
  color: #605d5d;
  font-family: "gilroyNormal" !important;
}

.MarginLeft {
  margin-right: 30px;
}

.PinCode {
  background: #f9f9f9;
  border: 1px solid #e8e9ea;
  border-radius: 4px;
  padding: 8px 10px;
  outline: none;
}

.CheckButton {
  color: #ffffff;
  font-weight: 500;
  font-size: 12px;
  background: linear-gradient(180deg, #978958 0%, #aea174 82.81%);
  border-radius: 2px;
  border: none;
  padding: 11px 25px;
  outline: none;
}
.DeliveryFields {
  display: flex;
  align-items: center;
  gap: 15px;
}

.Stroke {
  height: 15px;
  width: 15px;
  margin-top: 10px;
  margin-right: 5px;
}

.BorderBottom {
  border-bottom: 0.75px solid #e6e5e5;
}
.BorderBottom2 {
  border-bottom: 0.75px solid #e6e5e5;
  margin-top: 10px;
  padding-bottom: 15px;
}

.StrokeText {
  color: #757c81;
  font-weight: 400;
  font-size: 16px;
  margin-top: 8px;
}

.DeliveryDate {
  font-weight: 500;
  font-size: 16px;
  margin-top: 8px;
  margin-left: 5px;
}

.BIS {
  margin-right: 30px;
}

.CertificateText {
  font-weight: 500;
  font-size: 12px;
  font-family: "gilroyNormal" !important;
  line-height: 3;
}
.CertificateSubText {
  color: #7a8288;
  font-weight: 400;
  line-height: 0.1;
  font-size: 10px;
  font-family: "gilroyNormal" !important;
  margin-top: -15px !important;
}
.Left {
  font-weight: 400;
  font-size: 15px;
  font-family: "gilroyNormal" !important;
  color: #7a8288;
  margin-bottom: 5px !important;
}
.Right {
  font-weight: 500;
  font-size: 15px;
  font-family: "gilroyNormal" !important;
  color: #303a42;
  margin-bottom: 5px !important;
}
.RateReviewText {
  color: #303a42;
  font-family: "gilroyNormal" !important;
}
.RatingNum {
  font-weight: 400;
  font-size: 14px;
  color: #757c81;
  font-family: "gilroyNormal" !important;
}
.ProductDetailsHead {
  font-weight: 600;
  font-size: 16px;
  color: #000000;
  font-family: "gilroyNormal" !important;
  margin-top: 12px;
  margin-bottom: 7px !important;
}
.RatingFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ReviewImageTexts {
  display: flex;
  gap: 20px;
  margin-top: 15px;
  border-bottom: 0.75px solid #e6e5e5;
  padding-bottom: 15px;
}
.dateReview {
  color: #757c81;
  font-size: 14px;
}
.ReviewsDescription {
  margin-top: 5px;
  font-weight: 500;
}
.StarIcons1 {
  background: #006e7f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 8px;
  border-radius: 5px;
  font-size: 15px;
  gap: 5px;
}
.Icon_Stars {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.StarFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.RightHeadDesc {
  font-family: "Lato", sans-serif;
}

.Rating {
  font-weight: 600;
  font-size: 24px;
}
.StarRating {
  display: flex;
  background: #006e7f;
  border-radius: 4px;
  height: 17px;
  padding: 0 6px 0 6px;
  color: #ffffff;
  font-weight: 400;
  font-size: 10px;
  margin-top: 10px;
}
.Reviews {
  display: flex;
  border-bottom: 0.75px solid #e6e5e5;
  padding: 15px 0 15px 15px;
}
.CustomersHeadReview {
  border-bottom: 0.75px solid #e6e5e5;
}
.Star {
  margin-top: 2px;
}
.Comments {
  margin-left: 10px;
  margin-top: 8px;
}
.Comment {
  font-weight: 500;
  font-size: 15px;
  color: #303a42;
  font-family: "gilroyNormal" !important;
}
.Name {
  font-weight: 500;
  font-size: 13px;
  margin-top: -18px;
  font-family: "gilroyNormal" !important;
  color: #757c81;
}
.Remark {
  font-weight: 400;
  font-size: 12px;
  color: #000000;
  font-family: "gilroyNormal" !important;
  width: 50%;
}
.CommentFlex {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
  border-bottom: 0.75px solid #e6e5e5;
}
.ArrowIcon {
  margin-top: 20px;
}

.SubText {
  font-size: 15px;
  font-family: "gilroyNormal" !important;
  color: #5e666c;
  margin-bottom: 5px !important;
}
.NewArrival {
  color: #01b3c5;
  font-size: 14px;
  font-family: "gilroyNormal" !important;
  font-weight: 500;
}
.Home {
  color: #00464d;
  font-size: 14px;
  font-family: "gilroyNormal" !important;
  font-weight: 500;
  cursor: pointer;
}
.SizeSelect {
  background: rgba(0, 110, 127, 0.05);
  opacity: 0.8;
  background: transparent;
  -webkit-appearance: none;

  font-size: 11px;
  width: 120px;
  background: transparent url("../../Assets/arrow.png") no-repeat 90px center;
  border: 1px solid #006e7f;
  border-radius: 8px;
  padding: 13px 23px 13px 23px;
  margin-bottom: 10px;
  outline: none;
}
.Slider {
  display: none;
}
@media screen and (max-width: 767px) {
  .Display {
    /* display: none; */
    display: block;
  }
  .Slider {
    /* display: block; */
    display: none;
  }
}
.ProductDiscription {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 15px;
  font-family: "gilroyNormal" !important;
  color: #7a8288;
}
.SellerInfo {
  /* margin-top: 20px; */
  margin: 20px 0px !important;
}

.ChatNo_WhatsIcon {
  display: flex;
  gap: 3px;
  align-items: center;
}

.manufacture {
  display: grid;
  grid-template-columns: 0.7fr 0.1fr 2fr;
  margin-bottom: 8px;
  gap: 8px;
}
.manufacture span {
  padding-left: 33px;
}
.manpara {
  /* padding-left: 4px; */
  font-weight: 600;
  color: #303a42;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
}

@media (min-width: 568px) and (max-width: 767px) {
  .MobProductDetails {
    order: 2;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
    overflow: scroll;
  }
  .MobProductDetails2 {
    order: 1;
  }
  .ImageSmall {
    width: 100px;
    margin: 0px;
  }
  .BuyNow {
    width: 67%;
  }
}

@media (min-width: 300px) and (max-width: 567px) {
  .ProductDiscription {
    width: 350px;
  }
  .manpara {
    padding-left: 8px;
  }
  .SlideImage {
    max-width: 350px;
  }
  .MobProductDetails {
    order: 2;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
    overflow: scroll;
  }
  .MobProductDetails2 {
    order: 1;
  }
  .ImageSmall {
    width: 100px;
    margin: 0px;
  }
  .BIS {
    margin-right: 0px;
  }
  .BuyNow {
    width: 100%;
    padding: 12px;
  }
  .MobileFixedBtn {
    position: fixed;
    bottom: 0%;
    width: 100%;
    left: 0%;
    z-index: 999;
    background: #fff;
  }
  .FindStoreParent {
    justify-content: center;
  }
  .C1 {
    border-radius: 50px;
  }
  .C2 {
    border-radius: 50px;
  }
  .C4 {
    border-radius: 50px;
  }
  .NewArrivals {
    font-size: 20px;
  }
  .manufacture {
    grid-template-columns: 1.3fr 0.1fr 2fr;
  }
  .BorderBottom {
    border-bottom: 0px;
  }
  .BackgroundBgs {
    display: block;
    background: #f8f8f8;
    height: 25px;
    border-top: 0.75px solid #e6e5e5;
  }
  .ParentMobileProductDetails {
    display: block;
    background: #fcfbf6;
  }
  .ProductDetailsMobCard {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    border-bottom: 1px solid #ede7c9;
  }
  .ArrowlineMob {
    background: #ede7c9;
    width: 1px;
    height: 148px;
  }
  .ProductMob3Rows {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .ParentOtherStoneMob {
    box-shadow: 0px 2px 2px 0px #0000000d;
  }
  .Otherstone3Cards {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
    padding-top: 0px;
    gap: 18px;
  }
  .MobCard2Head {
    text-align: center;
  }
  .OtherstoneHeadMob {
    text-align: center;
    padding-top: 20px;
  }
  .ProductMobileHead {
    text-align: center;
    padding: 20px 0px;
  }
  .ProductCodeMob {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 5px;
  }
  .LeftMobCard1 {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .RightMobCard1 {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .ProductDetailsMobCard2 {
    padding: 20px;
  }
  .ParentOtherStoneMob {
    display: block;
  }
  .PheadB1 {
    color: #303a42;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 3px !important;
  }
  .ParentMobileProductDetails {
    font-family: "Lato", sans-serif;
  }
  .LeftMobCard1 img {
    margin-bottom: 10px;
  }
  .RightMobCard1 img {
    margin-bottom: 10px;
  }
  .PdH1 {
    color: #00464d;
    margin-bottom: 15px !important;
  }
  .PdM2 {
    color: #303a42;
    margin: 10px 0px;
    margin-bottom: 20px !important;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 600;
  }
  .MobFirstCard {
    text-align: center;
  }
  .DummyLineArrow {
    background: #ede7c9;
    width: 1px;
    height: 45px;
  }
  .FirststoneMob {
    text-align: center;
  }
  .DummyLineArrow2 {
    background: #ede7c9;
    width: 1px;
    height: 50px;
  }
  .MobHideField {
    display: none;
  }
  .RatingFlex {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 5px;
  }
  .ProductDetailsHead2 {
    margin-bottom: 0px !important;
  }
  .MobBtnView {
    margin: 0px 24px;
    margin-top: 20px;
  }
  .SubText {
    display: none;
  }
  .MobDownAR {
    border-bottom: 0.75px solid #e6e5e5;
    padding-bottom: 15px;
  }
}
