.ProductName {
  font-weight: 400;
  font-size: 20px;
  color: #0d1217;
  text-align: center;
  font-family: "gilroyNormal" !important;
}
.parentHeart {
  position: absolute;
  top: 4%;
  right: 7%;
  color: #b1c2d3;
}
.Discount {
  position: absolute;
  top: 3%;
  left: 70%;
  padding: 7px;
  height: 35px;
}
.Number {
  background: #189e02;
  color: #ffffff;
  padding: 5px;
  font-size: 12px;
}
.ProductId {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #757c81;
  line-height: 0.3;
}
.Rupee {
  font-size: 20px;
}

.Price {
  display: flex;
  justify-content: space-between;
  padding: 0 25px 0 25px;
}

.PriceNew {
  font-weight: 700;
  font-size: 16px;
  margin-right: 10px;
  margin-bottom: 15px !important;
}
.addToCartCard {
  background: #19242d;
  color: #fff;
  text-align: center;
  border-radius: 3px;

  padding: 10px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.ParentAddToCartCard {
  display: none;
}
.PriceOld {
  text-decoration: line-through;
  font-weight: 400;
  font-size: 18px;
  color: #b0b0b0;
}

.AddToCart {
  background: #19242d;
  border-radius: 4px;
  width: 70%;
  height: 48px;
  text-align: center;
  color: #ffffff;
  border: none;
  font-weight: 500;
  font-size: 12px;
  font-family: "InterNormal" !important;
}

.Heart {
  cursor: pointer;
}
.NewArrivalPics {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.None {
  display: none;
}
.HeartOnClick {
  border-radius: 4px;
  width: 48px;
  height: 48px;
  padding: 13px;
  margin-left: 5px;
  background: #ffffff;
  border: 1px solid #006e7f;
}
.Buttons {
  display: none;

  /* justify-content: center; */
}
.ProductImage {
  width: 100%;

  padding: 20px;
}
.NewArrivals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.NewArrivals:hover .Buttons {
  display: block;
  transition: 0.8s;
}
.NewArrivalCard {
  width: 100%;
  position: relative;
  margin-bottom: 20px;
  padding: 20px;
  height: 326px;
}
.NewArrivalCard:hover {
  /* background: #fff; */
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  border-radius: 2px;
  background: #fcfbf6;
  /* box-shadow: 0px 14px 30px 0px rgba(0, 0, 0, 0.05),
    0px 54px 54px 0px rgba(0, 0, 0, 0.05),
    0px 122px 73px 0px rgba(0, 0, 0, 0.03),
    0px 217px 87px 0px rgba(0, 0, 0, 0.01), 0px 339px 95px 0px rgba(0, 0, 0, 0); */
}
.NewArrivalCard:hover .ParentAddToCartCard {
  display: block;
}
.NewArrivalCard img {
  display: flex;
  justify-content: center;
  max-width: 200px;
}

@media (max-width: 1200px) {
  .ProductName {
    font-size: 15px;
  }
  .Price {
    padding: 0 15px 0 15px;
  }
  .NewArrivals .Buttons {
    display: block;
  }

  .AddToCart {
    height: 40px;
  }
  .HeartOnClick {
    height: 40px;
  }
}
@media screen and (max-width: 1165px) {
  .Number {
    background: #189e02;
    color: #ffffff;
    padding: 5px;
    font-size: 10px;
  }
}
@media screen and (max-width: 767px) {
  .NewArrivals .Buttons {
    display: block;
  }
  .HeartOnClick {
    height: 40px;
  }
  .Price {
    display: flex;
    justify-content: space-between;
    padding: 0px 5px;
  }
  .PriceNew {
    font-size: 14px;
  }
  .ProductImage {
    width: 100%;
    height: 170px;
    padding: 0px;
  }
  .Rupee {
    font-size: 16px;
  }

  .PriceOld {
    font-size: 14px;
  }
}
@media screen and (max-width: 379px) {
  .AddToCart {
    width: 60%;
    font-size: 10px;
  }
}

@media (min-width: 1025px) and (max-width: 1199px) {
  .NewArrivalCard {
    height: 290px;
  }
}
@media (min-width: 992px) and (max-width: 1023px) {
  .NewArrivalCard {
    height: 290px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .NewArrivalCard {
    height: 288px;
  }
}
@media (min-width: 300px) and (max-width: 575px) {
  .NewArrivalCard .Heart {
    color: #b1c2d3;
    font-size: 20px;
  }
  .parentHeart {
    position: absolute;
    top: 4%;
    right: 7%;
  }
  .NewArrivals {
    cursor: pointer;
    padding: 5px;
    padding-bottom: 20px;
    padding-top: 0px;
  }
  .ProductImage {
    height: 130px;
  }
  .NewArrivalCard {
    height: 205px;
  }
  .NewArrivalPics {
    display: flex;
    gap: 15px;
  }
  .addToCartCard {
    display: none;
  }
}
