.ImageText1 {
  font-weight: 700;
  font-size: 24px;
  color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  /* min-height: 251px; */
  align-items: flex-end;
  margin-bottom: 40px;
  font-family: "gilroyNormal" !important;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  padding-top: 170px;
  line-height: 0.5;
}

.ImageText2 {
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  color: #14c8dc;
  font-family: "'InterNormal'" !important;
}

.ShopOnBudgetImage {
  border-radius: 4px;
}
@media screen and (max-width: 400px) {
}
@media (min-width: 300px) and (max-width: 575px) {
  .ShopOnBudgetImage {
    margin-bottom: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 126px;
  }
  .ImageText1 {
    color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    /* min-height: 251px; */
    align-items: flex-end;
    margin-bottom: 40px;
    font-family: "InterNormal" !important;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    padding-top: 37px;
    line-height: 15px;
  }
  .ImageText2 {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    color: #14c8dc;
    font-family: "InterNormal" !important;
  }
}
