@font-face {
  font-family: "Poppins";
  src: url(./Font/Poppins-Light.ttf);
}
@font-face {
  font-family: "gilroyNormal";
  src: url(./Font/Gilroy-Regular.ttf);
}

@font-face {
  font-family: "PlayFairNormal";
  src: url(./Font/PlayfairDisplay-Regular.ttf);
}

@font-face {
  font-family: "InterNormal";
  src: url(./Font/Inter-Regular.ttf);
}

@font-face {
  font-family: "GilroyItalics";
  src: url(./Font/Gilroy-MediumItalic.ttf);
}

@font-face {
  font-family: "GilroyRegular";
  src: url(./Font/Gilroy-Regular.ttf);
}

@font-face {
  font-family: "LatoRegular";
  src: url(./Font/Lato-Regular.ttf);
}

.page-link {
  font-weight: 800 !important;
  font-size: 16px !important;
}
.pagination {
  --bs-pagination-padding-x: 1rem !important;
  --bs-pagination-padding-y: 0.4rem !important;
  --bs-pagination-font-size: 1rem;
  --bs-pagination-color: #000000 !important;
  --bs-pagination-bg: #fff;
  --bs-pagination-border-width: 0px !important;
  --bs-pagination-border-color: #dee2e6;

  --bs-pagination-border-radius: 0.5rem !important;
  --bs-pagination-hover-color: #fff !important;
  --bs-pagination-hover-bg: #000000 !important;
  --bs-pagination-hover-border-color: #000000 !important;
  --bs-pagination-focus-color: #fff !important;
  --bs-pagination-focus-bg: #000000 !important;
  --bs-pagination-focus-box-shadow: none !important;
  --bs-pagination-active-color: #fff;
  --bs-pagination-active-bg: #000000 !important;
  --bs-pagination-active-border-color: #000000 !important;
  --bs-pagination-disabled-color: #6c757d;
  --bs-pagination-disabled-bg: #fff;
  --bs-pagination-disabled-border-color: #dee2e6;
  display: flex;
  padding-left: 0;
  list-style: none;
}

.padLeft {
  padding-left: 0px !important;
}
input::placeholder {
  text-align: left !important;
  padding-left: 0px !important;
}

.btnPad {
  padding-top: 20px;
}
.my-modal {
  max-width: 30vw !important;
}
.contBg {
  background-color: #fefefe;
  border-radius: 8px;
  margin-top: 30px;
  margin-bottom: 30px;
}
p {
  margin-bottom: 0px !important;
}
/* 
.ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-tail::after{
  background: #0EB533 !important;
  /* height: 140% !important; */
/* margin-top: -10px !important; */

/* .ant-steps-icon-dot {
  background: #0EB533 !important;
} */
.carousel-indicators {
  display: none !important;
}
.carousel-control-next-icon {
  display: none !important;
}
.errrMsg {
  font-size: 16px;
  color: #c1380a;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 500;
}
.carousel-control-prev-icon {
  display: none !important;
}
.carousel {
  z-index: -1 !important;
}
.samPle {
  display: flex;
  justify-content: space-between;
}
.vl {
  border-right: 1px solid #e9e9e9;
  min-height: 200px;
}
.modal-header {
  border: none !important;
}
.loader {
  padding-top: 80px;
  padding-bottom: 80px;
}
.pageout {
  padding-top: 20px;
  padding-right: 20px;
}
.clear {
  display: flex;
  justify-content: space-between;
}
.pad-10 {
  padding-top: 30px !important;
}
.modal-body {
  padding: 0 50px 25px 50px !important;
}

.ant-steps
  .ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-tail::after {
  background-color: #0eb533 !important;
}
.ant-steps
  .ant-steps-item-process
  .ant-steps-item-icon
  > .ant-steps-icon
  .ant-steps-icon-dot {
  background-color: #c7c6c6 !important;
}
.ant-steps
  .ant-steps-item-finish
  .ant-steps-item-icon
  > .ant-steps-icon
  .ant-steps-icon-dot {
  background-color: #0eb533 !important;
}
.ant-steps.ant-steps-vertical.ant-steps-dot
  .ant-steps-item
  > .ant-steps-item-container
  > .ant-steps-item-tail {
  padding: 0px !important;
}
.ant-steps-item-title {
  font-size: 15px !important;
}
.modal-content {
  top: 50px !important;
  width: 96% !important;
}
:where(.css-dev-only-do-not-override-1l14yfp).ant-btn {
  display: none !important;
}
:where(.css-dev-only-do-not-override-1l14yfp).ant-modal {
  position: absolute !important;
  bottom: 0% !important;
  max-width: 100% !important;
  width: 100% !important;
}
:where(.css-dev-only-do-not-override-1l14yfp).ant-modal .ant-modal-content {
  position: absolute !important;
  bottom: 0% !important;
  width: 100% !important;
}
:where(.css-dev-only-do-not-override-16aepep).ant-collapse
  > .ant-collapse-item
  > .ant-collapse-header
  .ant-collapse-expand-icon {
  position: absolute !important;
  right: 0% !important;
  color: #fff !important;
}
svg.p-icon {
  pointer-events: auto;
  position: absolute !important;
  right: 2% !important;
}
.shipment svg.p-icon {
  color: #006e7f !important;
}
.p-accordion-tab {
  padding: 10px 0px !important;
  border-bottom: 0.5px solid #e8e9ea5e !important;
  padding-top: 20px !important;
}
.p-accordion-header-text {
  font-size: 16px;
}
.shipment .p-accordion-tab {
  padding: 20px 15px !important;
}
.shipment .p-accordion-header-text {
  color: #0d1217 !important;
  font-size: 16px;
  font-weight: 400;
  font-family: "lato";
}
.MobAbout {
  margin: 20px 0px;
  color: #fff;
}
.p-accordion-content {
  margin: 20px 0px;
  padding-right: 10px;
}
.activeTabHeaderText {
  background-color: red; /* Set your desired background color */
}
.ParentShipmentDetails .p-accordion-header-text {
  color: #000 !important;
}
:where(.css-dev-only-do-not-override-i56vxb).ant-collapse
  > .ant-collapse-item
  > .ant-collapse-header
  .ant-collapse-arrow
  svg {
  transition: transform 0.3s;
  position: absolute !important;
  right: 2% !important;
}
:where(.css-dev-only-do-not-override-12czi4v).ant-collapse
  > .ant-collapse-item
  > .ant-collapse-header
  .ant-collapse-expand-icon {
  position: absolute !important;
  right: 2% !important;
}
:where(.css-dev-only-do-not-override-4fj727).ant-collapse
  > .ant-collapse-item
  > .ant-collapse-header
  .ant-collapse-expand-icon {
  position: absolute !important;
  right: 2% !important;
}
:where(.css-dev-only-do-not-override-f2v0nq).ant-collapse
  > .ant-collapse-item
  > .ant-collapse-header
  .ant-collapse-expand-icon {
  position: absolute !important;
  right: 2% !important;
}
:where(.css-dev-only-do-not-override-12czi4v).ant-collapse {
  background: #fff !important;
  box-shadow: 0px 2px 2px 0px #0000000d !important;
  border: none !important;
}
:where(.css-dev-only-do-not-override-4fj727).ant-collapse {
  background: #fff !important;
  box-shadow: 0px 2px 2px 0px #0000000d !important;
  border: none !important;
}
:where(.css-dev-only-do-not-override-f2v0nq).ant-collapse {
  background: #fff !important;
  box-shadow: 0px 2px 2px 0px #0000000d !important;
  border: none !important;
}
.accordion-button:focus {
  box-shadow: none !important;
}
.accordion-button:not(.collapsed) {
  background-color: transparent !important;
  color: inherit !important;
}
.accordion-body {
  padding: 10px 20px !important;
}
.accordion-item {
  border-left: none !important;
  border-right: none !important;
}
.mobRow1 {
  padding-left: 10px !important;
}
/* :where(.css-dev-only-do-not-override-12czi4v).ant-modal .ant-modal-footer {
  display: none !important;
}
:where(.css-dev-only-do-not-override-4fj727).ant-modal .ant-modal-footer {
  display: none !important;
}
:where(.css-dev-only-do-not-override-12czi4v).ant-modal {
  position: absolute !important;
  bottom: 0% !important;
}
:where(.css-dev-only-do-not-override-4fj727).ant-modal {
  position: absolute !important;
  bottom: 0% !important;
}
:where(.css-dev-only-do-not-override-12czi4v).ant-modal .ant-modal-content {
  position: absolute !important;
  bottom: 0% !important;
  width: 100% !important;
}
:where(.css-dev-only-do-not-override-4fj727).ant-modal .ant-modal-content {
  position: absolute !important;
  bottom: 0% !important;
  width: 100% !important;
}
:where(.css-dev-only-do-not-override-12czi4v).ant-modal {
  width: 100% !important;
  max-width: 100% !important;
}
:where(.css-dev-only-do-not-override-4fj727).ant-modal {
  width: 100% !important;
  max-width: 100% !important;
} */
.p-dropdown {
  width: 100% !important;
  border: 1px solid #e8e9ea;
}
.p-dropdown-items-wrapper {
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.p-placeholder {
  padding: 10px;
}
.p-inputtext {
  padding: 10px;
}
.p-dropdown-panel {
  z-index: 99999999999 !important;
}
.p-icon {
  color: #006e7f;
}
.ReactFlagsSelect-module_selectBtn__19wW7 {
  border: none !important;
  border-bottom: 1px solid #e2e4e5 !important;
  border-radius: 0 !important;
}
.mar-10 {
  padding-top: 25px;
}
.modal-body {
  padding: 0px 30px 25px 30px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
@media screen and (max-width: 565px) {
  .loader {
    padding-top: 45px;
    padding-bottom: 45px;
  }
}

@media (min-width: 300px) and (max-width: 567px) {
  .pageout {
    padding-top: 20px;
    padding-right: 0px !important;
  }
  .nopadmar {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .page-link {
    font-weight: 800 !important;
    font-size: 12px !important;
  }
  .accordion-body {
    padding: 20px 0px !important;
  }
  .accordion-button {
    padding: 1rem 0rem !important;
  }
}
